/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h1,
h2,
h3 {
    font-weight: bold;
}

/* Estilos del encabezado */
#header {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-brand {
    font-size: 24px;
    color: #333;
}

.navbar-nav>li>a {
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

.navbar-nav>li>a:hover {
    color: #f50057;
}



/* Estilos del héroe */
#hero {
    background-color: #f5f5f5;
    padding: 120px 0;
    text-align: center;
}

#hero h1 {
    font-size: 54px;
    margin-bottom: 30px;
}

#hero p {
    font-size: 24px;
    margin-bottom: 60px;
}

#hero .btn {
    font-size: 18px;
    padding: 12px 30px;
}

/* Estilos de la sección "Acerca de nosotros" */
#about {
    background-color: #fff;
    padding: 120px 0;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 60px;
}

#about p {
    font-size: 18px;
    line-height: 30px;
}

/* Estilos de la sección "Servicios" */
#services {
    background-color: #f5f5f5;
    padding: 120px 0;
}

#services h2 {
    font-size: 36px;
    margin-bottom: 60px;
}

.service-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 60px 30px;
    text-align: center;
    margin-bottom: 30px;
}

.service-box i {
    color: #f50057;
    font-size: 48px;
    margin-bottom: 30px;
}

.service-box h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.service-box p {
    font-size: 18px;
    line-height: 30px;
}

/* Estilos para el carrusel */
.carousel-item {
    height: 700px;
}

 .carousel-item img {
    height: 100%;
}

.about-container {
    max-width: 800px;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.whatsapp-float a {
    display: block;
    background-color: #25d366;
    color: #fff;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    transition: all 1s ease;
}

.whatsapp-float a:hover {
    transform: scale(1.1);
    background-color: #128c7e;
}

.whatsapp-float i {
    font-size: 30px;
}

/* Responsive styles */
@media (min-width: 576px) {
    .whatsapp-float {
        bottom: 30px;
        right: 30px;
    }

    .whatsapp-float a {
        width: 80px;
        height: 80px;
        line-height: 80px;
    }

    .whatsapp-float i {
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    .whatsapp-float {
        bottom: 40px;
        right: 40px;
    }

    .whatsapp-float a {
        width: 90px;
        height: 90px;
        line-height: 90px;
    }

    .whatsapp-float i {
        font-size: 45px;
    }
}

@media (min-width: 992px) {
    .whatsapp-float {
        bottom: 50px;
        right: 50px;
    }

    .whatsapp-float a {
        width: 150px;
        height: 150px;
        line-height: 190px;
    }

    .whatsapp-float i {
        font-size:80px;
    }
}